<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.coign.sam"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="3" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    

    <application android:icon="@drawable/vv" android:label="@string/app_name">
        <activity android:name=".MainScreen"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity android:name=".sam"
                  android:label="@string/app_name" android:theme="@drawable/icon">
            <intent-filter>
                <action android:name="com.coign.sam" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            </activity>
<activity android:name=".List"></activity>
<activity android:name=".details"></activity>
<activity android:name=".AddEmployee"></activity>
<activity android:name=".dept"></activity>
<activity android:name=".MessageSending"></activity>
<activity android:name=".call"></activity>
    </application>
</manifest>